/* White text for the Nav pills */
.nav-pills a{
  color: #FFFFFF;
}


/* Imcrease the size of the logo. */
img.rounded-circle {
  width: 65%;
}

/* Change the display of the header, Nav-pills and Logo */
.container {
  display: inline-flex;
}

/* Set the font-family as Garamond for the family along with remaining values
if Garamond is not available. */
body {
  font-family: Garamond, Georgia, serif, verdana, "Times New Roman";
  font-size: 16px;
}

/* Make the Home page full screen. */
#home{
   height: 100vh;
}

/* Make the About page full screen. */
#about{
  height: 100vh;
}

/* Make the Projects page full screen. */
#projects{
  height: 100vh;
}

/* Make the Contact page full screen. */
#contact{
  height: 100vh;
}

/* Change the font size on the home page */
#home p {
  font-size: 1.2em;
}

.learnMoreBtn{
  /*text-align: center !important;*/
  color: #FFFFFF;
  background: #0000FF;
  height: 50px;
  margin: auto;
  /*vertical-align: middle;*/
  margin-top: 5px;
  width: 25%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Make the contained the full width of the screen */
@media (min-width: 480px) {
    .container{
        max-width: 100%;
        background-color: #ADD8E6;
    }
}


/* Decrease the image size for mobile views */
@media (min-width: 480px) {
    .myphoto{
        height: 65%;
        width:auto;
    }
}
