
html {
  position: relative;
  min-height: 100%;
}

.navbar-nav a {
  background: blue;
  margin-right:5px;
  border: 1px black solid;
  color:white;
  font-size: 32px;
}
/* Imcrease the size of the logo. */
img.rounded-circle {
  width: 65%;
}

/* Change the display of the header, Nav-pills and Logo */
.container {
  display: inline-flex;
}

/* Set the font-family as Garamond for the family along with remaining values
if Garamond is not available. */
body {
  font-family: Garamond, Georgia, serif, verdana, "Times New Roman";
  font-size: 16px;
}

/* Paragraph margin */
p {
  margin: 10px;
  font-size: 1.5em !important;
}

/* Add style to the Learn More buttun */
.learnMoreBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animation to call attention to the button. */
.btn{
  background-color: #0044FF;
  animation-name: btnColor;
  animation-duration: 4s;
}

/* Increase the About paragraph font size */
p {
  font-size: 1.2em;
  margin-left: 100px;
  margin-right: 100px;
}

/* Put space between the table and the paragraph */
.table-container {
  margin-top: 50px;
}

/* Fill the screen with the page-container. Do not overlap footer. position
the footer at the bottom of the screen. */
#page-comtainer{
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.footer{
  position: absolute;
  bottom: 0;
  width:  100%;
/*  height: 2.5rem;*/
  text-align: center;
}


.logo {
  height: 10% !important;
  width: auto !important;
}

body {
  background-color: #ADD8E6;
}

/* Social media icon styles */
	.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

	.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
background: #833AB4;
color: white;
}

/* Animation for the Learn More button  */
@keyframes btnColor {
  from {background-color: #FF0000;}
  to {background-color: #0000FF;}
}

.animated {
  animation-duration: 1s;
  animation-iteration-count: 2;
}

/* Animation for the laptop pic */
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/* Make the container the full width of the screen */
@media (min-width: 480px) {
    .container{
        max-width: 100%;
        background-color: #ADD8E6;
    }
}


/* Decrease the image size for mobile views */
@media screen and (max-width: 600px) {
    .myphoto{
        height: 65%;
        width:auto;
    }
}

/* Decrease the image size for mobile views */
@media screen and (max-width: 600px) {
    .logo{
       display:none;
    }
}

/* Decrease the image size for mobile views */
@media screen and  (min-width: 480px) {
    .laptop{
        height: 50%;
        width:auto;
    }
}
