
html {
  position: relative;
  min-height: 100%;
}

.navbar-nav a {
  background: #0000FF ;
  margin-right:5px;
  border: 1px black solid;
  color:white;
  font-size: 32px;
}
/* Imcrease the size of the logo. */
img.rounded-circle {
  width: 65%;
}

/* Change the display of the header, Nav-pills and Logo */
.container {
  display: inline-flex;
}

/* Set the font-family as Garamond for the family along with remaining values
if Garamond is not available. */
body {
  font-family: Garamond, Georgia, serif, verdana, "Times New Roman";
  /*z: 16px;*/
}

/* Paragraph margin */
.about p {
  margin: 5px;
  font-size: 1.5em !important;
} 

/* Add style to the Learn More buttun */
.learnMoreBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animation to call attention to the button. */
.btn{
  background-color: #0044FF;
  animation-name: btnColor;
  animation-duration: 4s;
}

/* Increase the About paragraph font size */
p {
/*  font-size: 1.5em;*/
  margin-left: 20px;
  margin-right: 20px;
}

/* Put space between the table and the paragraph */
.table-container {
  margin-top: 50px;
}

/* Fill the screen with the page-container. Do not overlap footer. position
the footer at the bottom of the screen. */
#page-comtainer{
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.footer{
  position: absolute;
  bottom: 0;
  width:  100%;
/*  height: 2.5rem;*/
  text-align: center;
}


.logo {
  height: 10% !important;
  width: auto !important;
}

body {
  background-color: #ADD8E6;
}

/* form container */
.input-container{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Form fields */
.input-field{
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus{
  border: 2px solid dodgerblue;
}

.form-btn{
  background: #0000FF;
  color: white;
}
/* Social media icon styles */
	.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/*.form-info {
  text-align: center;
}*/

form {
  /*display: inline-block;*/
  max-width:500px;
  margin:auto;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

	.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
background: #833AB4;
color: white;
}

/* Animation for the Learn More button  */
@keyframes btnColor {
  from {background-color: #FF0000;}
  to {background-color: #0000FF;}
}

.animated {
  animation-duration: 1s;
  animation-iteration-count: 2;
}

/* Animation for the laptop pic */
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

.active {
  color: white;
  background: rgb(25,25,112);
}

.nav-link:hover {
  color: white;
  background: rgb(0,0,255,.4);
}

.project-images {
   width: 100% !important;
   height: 300px !important;
   border: 2px solid black;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: auto;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/*.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .flip-card{
  flex: 1 0 33% !important;
  width: 500px;
  border: 1px solid black;
}*/

/*---------------------*/
body {
  color: #333;
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: url(https://josetxu.com/img/fondo_blanco.png) repeat 0 0 red;
}

h1 {
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0;
}

.cardBox {
  float: left;
  /*font-size: 1em; */ /*1.2em;*/
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 10s ease 0s;
  width: 30%; /*23.7%;*/
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #00ff;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 16px; /*1.2em;*/
  height: 300px;
  padding: 0; /*0.8em;*/
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  /*font-size: 1.5em;*/
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: red;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}
.back h3{
  font-size: 16px;
  font-weight: bold;
}

}
.back p{
  font-size: 10px !important;
  font-weight: lighter;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}
/*---------------------*/


/* Make the container the full width of the screen */
@media (min-width: 480px) {
    .container{
        max-width: 100%;
        background-color: #ADD8E6;
    }
}


/* Decrease the image size for mobile views */
@media screen and (max-width: 600px) {
    .myphoto{
        height: 65%;
        width:auto;
    }
}

/* Decrease the image size for mobile views */
@media screen and (max-width: 600px) {
    .logo{
       display:none;
    }
}

/* Decrease the image size for mobile views */
@media screen and  (min-width: 480px) {
    .laptop{
        height: 50%;
        width:auto;
    }
}

/* Decrease the  size of the navbar for mobile views */
@media screen and (min-width: 480px) {
    .navbar-nav a{
        font-size: 80%;
    }
}
